.number.disabled {
  pointer-events: none;
}
.tile {
  transition: left 0.5s, top 0.5s;
}
.number.slot--0 {
  left: 0;
  top: 0;
}
.number.slot--1 {
  left: 100px;
  top: 0;
}
.number.slot--2 {
  left: calc(100px * 2);
  top: 0;
}
.number.slot--3 {
  left: calc(100px * 3);
  top: 0;
}

.number.slot--4 {
  left: 0;
  top: 100px;
}
.number.slot--5 {
  left: 100px;
  top: 100px;
}
.number.slot--6 {
  left: calc(100px * 2);
  top: 100px;
}
.number.slot--7 {
  left: calc(100px * 3);
  top: 100px;
}

.number.slot--8 {
  left: 0;
  top: calc(100px * 2);
}

.number.slot--9 {
  left: 100px;
  top: calc(100px * 2);
}
.number.slot--10 {
  left: calc(100px * 2);
  top: calc(100px * 2);
}
.number.slot--11 {
  left: calc(100px * 3);
  top: calc(100px * 2);
}

.number.slot--12 {
  left: 0;
  top: calc(100px * 3);
}

.number.slot--13 {
  left: 100px;
  top: calc(100px * 3);
}
.number.slot--14 {
  left: calc(100px * 2);
  top: calc(100px * 3);
}
.number.slot--15 {
  left: calc(100px * 3);
  top: calc(100px * 3);
}
